---
import AdminLayout from "../../../layouts/adminLayout.astro";

//ketika form di submit
if (Astro.request.method === "POST") {
    // Simulasi simpan data
    return Astro.redirect("/admin/customers");
}
---

<AdminLayout title="Tambah Pelanggan">
    <div class="flex justify-between items-center">
        <h2>Create new Customer</h2>
        <a href="/admin/customers">Batal</a>
    </div>

    <form method="POST">
        <div>
            <label for="">Name</label>
            <input type="text" name="name" placeholder="Name" />
        </div>

        <div>
            <label for="">Email</label>
            <input type="text" name="email" placeholder="Email" />
        </div>

        <div>
            <label for="">Password</label>
            <input type="text" name="password" placeholder="Password" />
        </div>

        <div>
            <button type="submit">Simpan</button>
        </div>
    </form>
</AdminLayout>
